@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
}

*:focus {
  outline: 3px dotted #3e6ff4;
  outline-offset: 3px;
}

:root {
  --color: #000;
  --header: #fff;
  --box-shadow: rgba(37, 37, 37, 0.15);
}

body {
  transition: 0.5s;
  color: var(--color);
}

body.active {
  --color: #fff;
  --header: #000;
  --box-shadow: rgba(150, 148, 148, 0.15);
  background: #000;
}

#progress-bar {
  position: fixed;
  top: 55px;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  width: 0%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: width 0.2s ease-out;
  z-index: 100;
}

img {
  z-index: -2;
}

.container {
  width: 85%;
  margin: auto;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  padding: 0.6rem 1rem;
  margin-top: 15px;
  background: #3e6ff4;
  color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: 0.4s;
}

.btn a {
  color: #fff;
}

.btn:hover {
  background: #527cf0;
  cursor: pointer;
  letter-spacing: 3px;
}

.text {
  position: relative;
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 3rem;
  color: #3e6ff4;
}

.text::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 60px;
  height: 0.18rem;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  background: #3e6ff4;
}

/* Header section */
.header {
  transition: all 0.5s;
  position: fixed;
  left: 0;
  right: 0;
  background: var(--header);
  z-index: 20;
}

.header.active {
  padding: 0.2rem 0;
  box-shadow: 0 1px 10px var(--color);
}

.header .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.header .main-header h2 a {
  color: var(--color);
  letter-spacing: 1px;
}

.header .main-header .main-header_menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 20px var(--box-shadow);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.header .main-header .main-header_menu span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: #3e6ff4;
  border-radius: 4px;
  transition: 0.5s;
}

.header .main-header .main-header_menu span:nth-child(1) {
  transform: translateY(-10px);
  width: 25px;
  left: 5px;
}

.header .main-header .main-header_menu span:nth-child(2) {
  transform: translateY(10px);
  width: 20px;
  left: 5px;
}

.header .main-header .main-header_menu.active span:nth-child(3) {
  transform: translateX(40px);
}

.header .main-header .main-header_menu.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  width: 30px;
}

.header .main-header .main-header_menu.active span:nth-child(2) {
  transform: translateY(0) rotate(315deg);
  width: 30px;
}

.header .nav .main-nav ul li {
  display: inline-block;
  list-style: none;
}

.header .nav .main-nav ul li a {
  position: relative;
  color: var(--color);
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 15px;
  transition: 0.3s;
}

.header .nav .main-nav ul li a:hover {
  color: #9c9a9a;
  letter-spacing: 2px;
}

.header .nav .main-nav ul li a:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background: #3e6ff4;
}

.header .nav .main-nav ul li .active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background: #3e6ff4;
}

.header .main-header_icon {
  position: absolute;
  right: 60px;
  cursor: pointer;
}

.header .main-header_icon i:nth-child(2) {
  display: none;
}

.header .main-header_icon.active i:nth-child(2) {
  display: block;
}

.header .main-header_icon.active i:nth-child(1) {
  display: none;
}

/* Home section */
.home {
  padding: 4rem 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home .main-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.home .main-home .main-home_title h1 {
  font-size: 3rem;
  font-weight: 600;
}

.home .main-home .main-home_title h1 span {
  color: #3e6ff4;
}

.home .main-home .main-home_img {
  width: 380px;
}

.home__blob {
  fill: #3e6ff4;
}

.home .main-home .main-home_img .home__blob .home-img {
  width: 360px;
  z-index: -2;
}

/* About section */
.about {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .main-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.about .main-about_img {
  height: 450px;
  z-index: -1;
}

.about .main-about_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about .main-about_title {
  width: 50%;
}

.about .main-about_title h1 {
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--color);
  background: url(/images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 25s linear infinite;
  cursor: unset;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.about .main-about_title p {
  font-size: 1rem;
  letter-spacing: 1px;
}

/* Skills section */
.skills {
  padding: 4rem 0;
}

.skills .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2rem;
}

.skills-text {
  padding: 1.5rem 0;
}

.skills .skills-container .main-skills_data {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 5px 25px rgba(78, 78, 78, 0.15);
}

.skills .skills-container .main-skills_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(0, 110, 255);
  height: 0.25rem;
  font-size: 1rem;
  border-radius: 3px;
}

.skills .skills-container .main-skills_name {
  font-size: 1.2rem;
  font-weight: 500;
}

.main-skills_names .fab {
  margin-left: 10px;
  font-size: 1.5rem;
  color: rgb(0, 110, 255);
}

.skills-html {
  width: 90%;
}

.skills-css {
  width: 70%;
}

.skills-javascript {
  width: 50%;
}

.skills-react {
  width: 40%;
}

.skills .main-skills_img img {
  max-width: 100%;
  border-radius: 10px;
}

/* Work section */
.work {
  padding: 3rem 0;
}

.work .main-work_img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  overflow: hidden;
}

.work .main-work_img a {
  overflow: hidden;
  border-radius: 10px;
}

.work .main-work_img a img {
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.work .main-work_img a:hover img {
  transform: scale(1.1);
}

/* Contact section */
.contact {
  padding: 3rem 0;
}

.contact-form {
  position: relative;
  max-width: 300px;
  margin: auto;
}

.contact-input {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color);
  border-radius: 10px;
  font-size: 1rem;
  margin: 10px 0;
  outline: none;
}

.contact-input:focus {
  border-color: #3e6ff4;
}

/* Footer section */
.footer {
  height: 25vh;
  background: #283149;
  color: #fff;
}

.footer .footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  gap: 1rem;
  height: 25vh;
}

.footer .footer-text {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.footer .footer-copy {
  font-size: 0.95rem;
  letter-spacing: 0.8px;
}

.footer .footer-icon {
  margin-left: 20px;
}

.footer .footer-icon .icon {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.footer .footer-icon .icon li a {
  width: 30px;
  height: 30px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 1em;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 1px 5px var(--color);
  transition: background 0.25s;
}

.footer .footer-icon .icon li a:hover.github {
  background: #000;
}
.footer .footer-icon .icon li a:hover.telegram {
  background: #1877f2;
}
.footer .footer-icon .icon li a:hover.instagram {
  background: #e4405f;
}

.footer .footer-icon .icon li a .fab {
  transition: 0.25s;
  pointer-events: none;
}

.footer .footer-icon .icon li a:hover .fab {
  color: #fff;
  transform: scale(1.1) translateZ(10px);
}

@media (max-width: 868px) {
  .header .main-header_icon {
    right: 25px;
  }
}

@media (max-width: 668px) {
  #progress-bar {
    top: 62px;
  }

  .hidden {
    display: block;
  }

  .text::after {
    width: 100%;
  }

  /* Header section */
  .header {
    border-bottom: 2px solid var(--color);
  }

  .header.active {
    border-bottom: none;
  }

  .header .nav {
    position: absolute;
    top: 98%;
    right: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background: var(--header);
    border-bottom: 2px solid var(--color);
    transition: 0.5s;
  }

  .header .nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .nav .main-nav ul li {
    display: block;
    margin: 15px 0;
  }

  .header .nav .main-nav {
    width: 90%;
    margin: auto;
  }

  .header .main-header_icon {
    position: absolute;
    right: 70px;
  }

  /* Home section */
  .home .main-home {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }

  .home .main-home .main-home_title h1 {
    font-size: 2rem;
  }

  .home .main-home .main-home_img {
    width: 280px;
  }

  /* About section */
  .about .main-about {
    flex-direction: column;
    text-align: center;
  }

  .about .main-about_img {
    height: 300px;
  }

  .about .main-about_title {
    width: 100%;
  }
}
